@model WebService.Models.EditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.User.Id)
        <hr />
        <div class="form-group">
            <h4>@Model.User.UserName</h4>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.User.ConnectionsMinuteRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.ConnectionsMinuteRate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.User.ConnectionsWeekRate, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.ConnectionsWeekRate, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(model => model.IsAdmin) Is Admin?
            </label>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Manage")
</div>
